*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    list-style: none;
    font-family: sans-serif;
    
}

body{
background: black;
}
.container .box:hover{
    transform: rotateX(45deg) rotateZ(45deg);
    transition: ease-in-out 0.4s;
}
.container{
    height: 100vh;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container::before{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(#ff08f3,#38072c);
    transform: translate(-390px,-150px);
}

.container::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(30deg ,#011674,#df3cff);
    transform: translate(420px,70px);
}

.container  .ball-1{
    height: 30px;
    width: 30px;
    background: #04bdf5;
    border-radius: 50%;
    transform: translate(-250px,235px);
    position: absolute;
}
.container  .ball-2{
    height: 70px;
    width: 70px;
    background: #8808ff;
    border-radius: 50%;
    transform: translate(-10px,-220px);
    position: absolute;
}

.container  .ball-3{
    height: 50px;
    width: 50px;
    background: #a676e6;
    border-radius: 50%;
    transform: translate(150px,250px);
    position: absolute;
}

.container .box{
    height: 50vh;
    width: 40%;
    background: rgba(255,255,255,0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10,10,10,0.25);
}


.container .box .contains{
justify-content: center;
width: 100%;
height: 80%;
position: relative;
margin-top: 8%;
display: flex;
}
.container .box .contains .section-1{
    position: absolute;
    margin-top: 70px;
    text-align: center;
}
.container .box .contains .section-1 h1{
    font-size:75px;
}
.container .box .contains .section-1 h3{
    font-size: 35px;
}
.container .box .contains .section-1 p{
    margin-top: 5px;
}
.container .box .contains .section-1 .button{
    margin-top: 50px;
}
.container .box .contains .section-1 .button a{
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    margin: 3px;
    border-radius:30px ;
    text-decoration: none;
}
