body{
    background-color: rgb(24, 23, 23);
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow-y: hidden;

}
::-webkit-scrollbar{
    background: transparent;
}

.img-container{
    display: flex;
}

.img-container img{
    width: 350px;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid white;
    padding: 5px;
}

.img-container img:not(:last-child){
    margin-left: 10px;
}

.img-container:hover > :not(:hover){
    opacity: 0.2;
}
